body {
    background-color: #FAF8DA;
    font-family: 'Open Sans';
}

.primary-header {
    text-align: center;
}

.main-heading {
    font-size: 70px;
    color: #205D76;
}

.header-img {
    width: 650px;
}

.category-section {
    display: flex;
    display: -webkit-flex; /* This is a vendor prefix! */
}

.category-details {
    margin-left: 30px;
}

.category-img {
    width: 200px;
}

.category-heading {
    color: #205D76;
    font-size: 30px;
}

.category-list {
    color:#FFC122;
    padding-left: 15px;
}

.category-list-item {
    margin-bottom: 10px;
}

.category-link {
    color:#EA6E2F;
    font-size: 20px;
}

.primary-footer {
    background-color: #FFC122;
}

.created-by {
    columns: #FFFFFF;
    font-size: 20px;
}