body {
    margin: 0;
    background-color: #FAF8DA;
    font-family: 'Open Sans';
}

.primary-header {
    text-align: center;
}

.main-heading {
    font-size: 70px;
    color: #205D76;
}

.header-img {
    width: 650px;
    /* filter: grayscale(100%); */
}

.category-section {
    display: flex;
    margin: 50px auto;
    width: 450px;
}

.category-details {
    margin-left: 30px;
}

.category-img {
    width: 200px;
    /* filter: grayscale(100%); */
    /* border-radius: 50%; */
}

.category-heading {
    color: #205D76;
    font-size: 30px;
}

.category-list {
    color:#FFC122;
    padding-left: 15px;
}

.category-list-item {
    margin-bottom: 10px;
}

.category-link {
    color:#EA6E2F;
    font-size: 20px;
}

.primary-footer {
    background-color: #FFC122;
    padding: 2px;
    text-align: center;
}

.created-by {
    color: #FFFFFF;
    font-size: 20px;
}